name: CI

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  cdk_diff:
    uses: youyo/aws-cdk-github-actions@v2
    with:
      cdk_subcommand: 'diff'
      actions_comment: true
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: 'ap-southeast-2'

  deploy_to_dev:
    environment:
        name: development
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy to dev environment
        run: echo Deploying to dev environment.
  deploy_to_staging:
    needs: deploy_to_dev
    environment:
        name: staging
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Deploy to staging environment
      run: echo Deploying to staging environment.

